img {
	border: 12px groove purple;
	padding: 10px 10px 50px 10px; 
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(99,45,253,0.8614845596441701) 100%);
	border-radius: 15px 30px 100px 5px;
	box-shadow: -161px 59px 147px 59px rgba(194,143,222,0.75);
}

h1 {
	font-family: arial;
	border: 6px inset coral;
	padding: 10px 7px 7px 12px;
	border-radius: 40%;
}

body {
	background-image:url(https://cdn.pixabay.com/photo/2017/10/11/16/18/swamp-grass-2841489_960_720.jpg);
	background-repeat: repeat-x;
	background-size: cover;
	
}